'scopeName': 'source.txt'
'name': 'simple text'
'fileTypes': ['txt']
'patterns': [
  {
    'match': '\\*'
    'name': 'variable.language.txt'
  },
  {
    'begin': '>>+\\s'
    'end': '$'
    'name': 'constant.numeric.txt'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        }
    ]
  },
  {
    'begin': '\\$\\s'
    'end': '$'
    'name': 'constant.character.escape.mylanguage'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        }
    ]
  },
  {
    'match': '(--+)\\s+(.+)\\s+(--+)'
    'captures':
        '1':
            'name': 'variable.language.txt'
        '2':
            'name': 'keyword.control.txt'
        '3':
            'name': 'variable.language.txt'
    'name': 'meta.function.txt'
  },
  {
    'begin': '-\\s'
    'end': '$'
    'name': 'string.quoted.single.mylanguage'
  },
  {
    'begin': '//'
    'end': '$'
    'name': 'comment.line.double-slash.txt'
  },
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.line.double-slash.txt'
  }
]
