'scopeName': 'source.txt'
'name': 'simple text'
'fileTypes': ['txt']
'patterns': [
  {
    'begin': '^>>+\\s'
    'end': '$'
    'name': 'constant.numeric.txt'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        }
    ]
  },
  {
    'begin': '^\\$\\s'
    'end': '$'
    'name': 'constant.character.escape.txt'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        }
    ]
  },
  {
    'match': '(--+)\\s+(.+)\\s+(--+)'
    'captures':
        '1':
            'name': 'variable.language.txt'
        '2':
            'name': 'keyword.control.txt'
        '3':
            'name': 'variable.language.txt'
    'name': 'meta.function.txt'
  },
  {
    'match': '(\\*\\*)\\s+(.+)\\s+(\\*\\*)'
    'captures':
        '1':
            'name': 'variable.language.txt'
        '2':
            'name': 'string.quoted.single.txt'
        '3':
            'name': 'variable.language.txt'
    'name': 'meta.function.txt'
  },
  {
    'match': '\\*'
    'name': 'variable.language.txt'
  },
  {
    'begin': '^-\\s'
    'end': '$'
    'name': 'string.quoted.single.txt'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        },
        {
          'match': '\\*'
          'name': 'variable.language.txt'
        }
    ]
  },
  {
    'begin': '//'
    'end': '$'
    'name': 'comment.line.double-slash.txt'
  },
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.line.double-slash.txt'
  },
  {
    'begin': '^\\?\\s'
    'end': '$'
    'name': 'entity.name.function.txt'
    'patterns': [
        {
            'begin': '//'
            'end': '$'
            'name': 'comment.line.double-slash.txt'
        }
    ]
  }
]
#'name': 'support.class.dom.txt' gul farge
